

// DEFAULT CONIG FOR CTG RNA SEQ Pipeline

params {

  // Container. Note STAR version must match STAR built reference
  // container           =  '/projects/fs1/shared/containers_singularity/bulkRNA/rnaseqtools.dl.0.1.sif'

  // logdir              =  basedir + '/logs' // where to create logfiles for nextflow runs


// default
gtf = ''
species = ''
star_genome = ''
assay = ''
strandness = ''

  // Run specific parameters.
  // Defined by input the rnaseq driver
  // These params are overwritten by parameters set in the 'driver-ctg-rnaseq'

  // Folders defined in the 'driver-ctg-rnaseq'
  // DO NOT TOUCH -
  // THESE WILL BE OVERWRITTEN by the config 'nextflow.params_${id}.config"')
  projectid           =  '' // e.g. 2021_30. Does not strictly have to be same as ctg project id. Can be modified if running parallell pipelines. Must be same as directory within  which the script is executed.
//   samplesheet         =  '' // Full path to sample sheet
  samplesheet_ctg       =  ''
  execdir             =  '' // driver execution dir
  projectdir          =  '' // prev. workdir =  basedir+'/'+projectid  // defined by project id set in config
  custom_samplesheet = ''

  // Demux speciffic.
  fastqdir            =  '' // workdir+'/fastq'. This Dir is used by bcl2fastq2 to _generate_ fastq files. NOT used when demux is FALSE. NOTE that other processes will use the FASTQ-path defined in the sample sheets.
  runfolderdir        =  '' ///Users/david/tasks/testData/Fastq_Raw/fastqSubSample/
  samplesheet_demux   =  ''



  // Other conditioal parameters
  // DEFAULTS ONLY -- DO NOT TOUCH
  // THESE WILL BE OVERWRITTEN by the config 'nextflow.params_${id}.config"')
  pooled              =  false  // if pooled togehter with other, unrelated project. affects delivery, e.g. undetermined fastq files
  paired              =  false   // leave blank ('') if not paired end. set to ('-p') if paired end
  demux               =  false

// Default processes
fastqc               =  true
multiqc              =  true
multiqc_ctg          =  true


// parameters to override default pipe

  // if fastq dir is defined - no demultiplex will be performed. NOT IN THIS VERSION?
  // fastq_custom_dir      =  '/Users/david/tasks/testData/Fastq_Raw/fastqSubSample/' // /Users/david/tasks/testData/Fastq_Raw/fastqSubSample/


  // Optional modules not set by profiles
  //ssheet_check = true

  //lane          =  '0' // set to 1 or 2 ... if to manually force lane in bcl2fastq for _all_ samples within project.
  // lane ideally should be defined as a column in sample sheet.

// Process speicfic confiurations
fcounts_feature                    =  'exon'


  // Configuration implicit variables. These are implicitly defined in the Nextflow configuration file
    // baseDir    - projectDir in v20.04.x: The directory where the main workflow script is located
    // workDir    - the work folder for nextflow temporary work-files
    // launchDir  - the directory where the workflow is run (requires version 20.04.0 or later).

// ADDONS - Should be moved to
  fastq_screen   =  true
  bam_index = true
  piccard_markdups = true
  picard_rnaseqmetrics = true

// fpkm? salmon?


  // Auto generated parameters. Note that workDir is impicitily


  // DO NOT TOUCH
  // defaults for workflow parameters. These are modified through profiles and othher checks n balances





}




profiles {

  // bnf_qc {
  //   params.workflow                 =  'bnf_qc'
  //   params.fastqc                   =  true
  //   params.multiqc                  =  true
  // }
  //
  // bnf_aligned {
  //   params.workflow                 =  'bnf_aligned'
  //   //params.checkSampleSheet         =  true
  //   params.fastqc                   =  true
  //   params.multiqc                  =  true
  //
  // }

  mm {
    params.species            = 'mm'
    params.gtf               =  "/projects/fs1/shares/genomicData/mm10/annotation/gtf/gencode/gencode.vM25.annotation.gtf"
    params.star_genome       =  "/projects/fs1/shared/genomicData/mm10/STAR/star_ref_index/"

  }

  hs {
    params.species          = 'hs'
    params.gtf               =  "/projects/fs1/shared/genomicData/hg38/annotation/gtf/gencode/v33/gencode.v33.annotation.gtf"
    params.star_genome       =  "/projects/fs1/shared/genomicData/hg38/STAR/star_2.7.6a/"

  }


  TruSeq_Stranded_mRNA {
    // note on strandness https://github.com/igordot/genomics/blob/master/notes/rna-seq-strand.md
    params.assay                      =  'TruSeq Stranded mRNA'
    params.strandness                 =  "reverse"
    //params.stranded                   =  '2'
    //params.RnaSeqMetricsStrand        =  'SECOND_READ_TRANSCRIPTION_STRAND'
  }

  Illumina_Stranded_mRNA_Prep {

    params.assay                      =  'Illumina Stranded mRNA Prep'
    params.strandness                 =  'reverse'
    // params.stranded                   =  '2'
    // params.RnaSeqMetricsStrand        =  'SECOND_READ_TRANSCRIPTION_STRAND'
    params.Read1StartFromCycle        =  '2'
    params.Read2StartFromCycle        =  '2'


  }

  SMARTer_Stranded_Total_RNA_Sample_Prep_Kit_HI_Mammalian {
    // Sequencing Analysis Guidelines IMPORTANT:
    // The first three nucleotides of the first sequencing read (Read 1) are derived from the template-switching oligo.
    // These three nucleotides must be trimmed prior to mapping.
    // Read 1 is derived from the sense strand of the input RNA. If you are performing paired-end sequencing, Read 2 will correspond to the antisense strand.

    params.assay                      =  'SMARTer Stranded Total RNA Sample Prep Kit - HI Mammalian'
    params.strandness                 =  'reverse'
    //params.stranded                   =  '1'
    //params.RnaSeqMetricsStrand =  'FIRST_READ_TRANSCRIPTION_STRAND'
    params.Read1StartFromCycle        =  '4'

  }

  QIAseq_FastSelet_BrRNAdepl_SMARTer_Stranded_Total_RNA_Seq_Kit_v2_PicoInput {
    // https://www.takarabio.com/learning-centers/next-generation-sequencing/technical-notes/rna-seq/stranded-libraries-from-picogram-input-total-rna-(v2)
    // Read 1 generates sequences antisense to the original RNA, while Read 2 yields sequences sense to the
    // original RNA (orientation of original RNA denoted by 5' and 3' in dark blue).
    // The first three nucleotides of the second sequencing read (Read 2) are derived from the
    // Pico v2 SMART Adapter (shown as Xs). These three nucleotides must be trimmed prior to mapping
    // if performing paired-end sequencing.

    params.assay                      =  'QIAseq_FastSelet_BrRNAdepl_SMARTer_Stranded_Total_RNA-Seq_Kit_v2_PicoInput'
    params.strandness                 =  'reverse'
    //params.stranded                   =  '2'
    //params.RnaSeqMetricsStrand        =  'SECOND_READ_TRANSCRIPTION_STRAND'
    params.Read2StartFromCycle        =  '4'


  }



}
