

// DEFAULT CONIG FOR CTG RNA SEQ Pipeline

params {

// --------------------------------------------------------------------------------------
// Project specific parameters - should be defined in 'nextflow.params.<id>.config'
// --------------------------------------------------------------------------------------
  // Set blank params for parameters included in the project-specific config 'nextflow.params_${id}.config'
  // Project-specific config file genereated by primer script.
  // NOTE: Make sure to update this section when the project nf config file is updated.
  // THESE WILL BE OVERWRITTEN by the config 'nextflow.params.${id}.config"'

  // root directories
  project_root        =  ''
  delivery_root       =  ''
  qc_root             =  ''
  log_root            =  ''

  //  project  and run folders
  projectid           =  ''
  species_global      =  ''  // global speices option. Used primarily by featureCounts. May be multiple, separate by pipe. Sample specific species is set in Sample sheet 'Species' column
  n_samples           =  ''
  projectdir          =  ''
  bindir              =  ''
  fastqdir              =  ''

  //  samplesheets
  samplesheet         =  ''
  samplesheet_demux   =  ''

  //  assay specific
  assay               =  ''
  instrument_type     =  ''
  index_adapters      =  ''
  paired              =  true
  strandness          =  '' // none, forward or reverse

  //  demux specific
  runfolderdir        =  ''
  runfolder           =  ''
  fastqdir            =  ''
  pooled              =  false

  //  module specific
  run_demux             =  true
  run_align             =  true

  run_fastqc            =  true
  run_multiqc           =  true
  run_multiqc_ctg       =  true
  run_fastq_screen      =  true
  bam_indexing          =  true
  piccard_markdups      =  true
  picard_rnaseqmetrics  =  true
  run_featurecounts     =   true
  run_checkfiles        =  true // if to check files supplied in sample sheet

  //  log files
  logdir               =  ''
// --------------------------------------------------------------------------------------





// --------------------------------------------------------------------------------------
// Parameters NOT set in 'nextflow.params.<id>.config'
// --------------------------------------------------------------------------------------
  // Container. Note STAR version must match STAR built reference
  // container           =  '/projects/fs1/shared/containers_singularity/bulkRNA/rnaseqtools.dl.0.1.sif'

// container  = 'singularity/rnaSeqTools/rnaseqtools.dl.0.1.sif'

  // Process speicfic parameters
  // ---------------------------
  fcounts_feature                    =  'exon'

  // 'Mus musculus'
  gtf_mm               =  "/projects/fs1/shared/references/mm10/annotation/gtf/gencode/gencode.vM25.annotation.gtf"
  star_genome_mm       =  "/projects/fs1/shared/references/mm10/star/star_2.7.6a/"
  picard_refflat_mm    =  "/projects/fs1/shared/references/mm10/annotation/gtf/gencode/gencode.vM25.annotation.refFlat"
  picard_rrna_mm       =  "/projects/fs1/shared/references/mm10/annotation/gtf/gencode/rRNA.vM25.interval_list"

  // 'Homo sapiens'
  // gtf_hs              =  "/projects/fs1/shared/references/hg38/annotation/gtf/gencode/v33/"
  // star_genome_hs      =  "/projects/fs1/shared/references/hg38/star/star_2.7.6a/"
  gtf_hs              =  "/Users/david/resources/references/hg38/annotation/gtf/gencode/v33/gencode.v33.annotation.gtf"
  star_genome_hs      =  "/Users/david/resources/genomicData/hg38/genome/"
  picard_refflat_hs   =  "/Users/david/resources/references/hg38/annotation/gtf/gencode/v33/gencode.v33.annotation.refFlat"
  picard_rrna_hs      =  "/Users/david/resources/references/hg38/annotation/gtf/gencode/v33/rRNA.GRCh38.interval_list"





// ADDONS - Should be moved to


// fpkm? salmon?




}


// --------------------------------------------------------------------------------------
// Parameters NOT set in 'nextflow.params.<id>.config'
// --------------------------------------------------------------------------------------


// Define SLURM specs
// process {
//   executor='slurm'
//   container = 'singularity/rnaSeqTools/rnaseqtools.dl.0.1.sif'
//   time='3h'
//   cpus='4'
// //
// //   withName:mkfastq {
// //     time='24h'
// //     cpus='16'
// //     memory='110 GB'
// //   }
// //   withName:count {
// //     time='2d'
// //     cpus='20'
// //     memory='120 GB'
// //   }
// //   withName:count_nuc {
// //     time='2d'
// //     cpus='20'
// //     memory='120 GB'
// //   }
// //   withName:aggregate {
// //     time='2d'
// //     cpus='16'
// //     memory='120 GB'
// //
// //   }
//  }

// Define singularity specs
singularity {
    enabled = false
    //runOptions = '--bind /projects/fs1/'
    runOptions = '--bind /Users/david/'
}
