// Configuration file for nextflow analysis pipeline 

/*  ====================================
 *  singleproj_bulkRNA_fromFastq_v210107
 *  ====================================
*/


params {

       /* =====================
       *   User defined params:
       *  =====================
       */

        projectID = ""
	metaID = ""

         // Folder of experiment raw data (set workdir to shared folder on nas-sync)
        fastq = "/projects/fs1/shared/ctg-projects/bulkRNA/"
        workdir = "/projects/fs1/shared/ctg-projects/bulkRNA/${projectID}/"
       //  demuxStats = "/projects/fs1/shared/CTG_projects/bulkRNA/"

        // Project ID (Can be any)
        ssheet = "${workdir}/"

	// Species
	species = "Human" // Set human or mouse 

	// set Align/Quant
	align = true	
	quant = true
	qcOnly = false
	picardMarkDups = false  // not yet implemented
	picardRnaMetrics = false // not yet implemented


        // FeatureCounts params
        stranded = 2
        feature = 'exon'
	paired = '-p' // leave blank ('') if not paired end. set to ('-p') if paired end

	
	// References
	mouse_gtf = "/projects/fs1/shared/references/mm10/annotation/gtf/gencode/gencode.vM25.annotation.gtf"
	mouse_genome = "/projects/fs1/shared/references/mm10/star/star-2.7.6a/"
	human_gtf = "/projects/fs1/shared/references/hg38/annotation/gtf/gencode/v33/gencode.v33.annotation.gtf"
        human_genome = "/projects/fs1/shared/references/hg38/star/star_2.7.6a/"
        custom_genome = // Insert custom genome
        custom_gtf = // Insert custom gtf

	// Picard references
	 // Picard references
        picard_refFlat_hs ="/projects/fs1/shared/references/hg38/annotation/gtf/gencode/v33/gencode.v33.annotation.refFlat"
        picard_rRNA_hs ="/projects/fs1/shared/references/hg38/annotation/gtf/gencode/v33/rRNA.GRCh38.interval_list"
        picard_refFlat_mm ="/projects/fs1/shared/references/mm10/annotation/gtf/gencode/gencode.vM25.annotation.refFlat"
        picard_rRNA_mm ="/projects/fs1/shared/references/mm10/annotation/gtf/gencode/rRNA.vM25.interval_list"


	fastqScreen_config="/projects/fs1/shared/references/FastQ_Screen_Genomes/fastq_screen.conf"

       
       /* =============================
       *   Automatically set params:
       *  =============================
       */

	// Sample Sheet (Must be in directory defined above!)
	sheetType = "normal"

	// Directory to store fastq data etc.
	// If not store in same dir where you run the pipeline, give entire path.
 	outDir = "${workdir}/ctg-output/"

	// Lanes (Set 0 if all lanes should be included!)
	lanes = 0

	// Automatic assignment
	sheet = "${ssheet}"
	fqDir = "${fastq}"
	qcDir = "${outDir}QCdir/"
	bamDir = "${outDir}STAR/"
	quantDir = "${outDir}Quant/"
	picardDir = "${outDir}QCdir/Picard/"
	fastqScreenDir = "${outDir}QCdir/fastqScreen"
}

// Define SLURM specs
// note that star version in sif-container shold match STAR genome reference (above)
process {
	executor='slurm'
	container = '/projects/fs1/shared/ctg-containers/ctg-rnaseq/rnaseqtools.dl.0.1.sif'
	time='36h'
	cpus='16'
	memory='100 GB'

	withName:STAR {
		time='36h'
		cpus='16'
		memory='100 GB'
	}
	withName:featureCounts {
	   	time='36h'
		cpus='20'
		memory='100 GB'
	}
}

singularity {
	    enabled = true
	    runOptions = '--bind /projects/fs1/'	    
}
