

// DEFAULT CONIG FOR RNASEQ
// --------------------------------------------------------------------------------------
// Parameters NOT set in 'nextflow.params.<id>.config'
// --------------------------------------------------------------------------------------



// Genearl params
// -------------

params {

    // featurecounts
    fcounts_feature                    =  'exon'

    // fastqScreen
    // ---------------------------
    fastqscreen_config  =  "/projects/fs1/shared/references/FastQ_Screen_Genomes/fastq_screen.conf"




    // --------------------------------------------------------------------------------------
    //  Flags for individual nexflow processes  - NOT set in project config
    // --------------------------------------------------------------------------------------
    // Used for debugging mostly

    // run_checkfiles_fastq        =  true
    run_star                    =  true
    run_salmon                  =  true
    run_checkfiles_bam          =  true
    run_rsem                    =  true
    run_rnaseqmetrics           =  true
    run_featurecounts           =  true
    run_index_bam               =  true
    run_qualimap                =  true
    run_rseqc                   =  true
    run_markdups                =  true
    run_collect_align           =  true
    run_fastqScreen             =  true
    run_bladderreport           =  true
    run_publish_bladderreport   =  true
    run_fastqc                  =  true
    run_postaln_qc_rna          =  true
    run_multiqc_ctg             =  true
    run_setup_deliverytemp      =  true
    run_move_fastq              =  true
    run_multiqc_delivery        =  true
    run_md5sum_delivery         =  true
    run_setup_ctg_save          =  true
    run_checkfiles_rscript_predelivery = true
    run_finalize_delivery       =  true
    run_checkfiles_rscript_postdelivery = true

}




// Process speicfic parameters
// ------

profiles {

    rnaesq {



      //  References
      // ---------------------------

      // 'Mus musculus'
      gtf_mm               =  "/projects/fs1/shared/references/mm10/annotation/gtf/gencode/gencode.vM25.annotation.gtf"
      star_genome_mm       =  "/projects/fs1/shared/references/mm10/star/star-2.7.6a/"
      picard_refflat_mm    =  "/projects/fs1/shared/references/mm10/annotation/gtf/gencode/gencode.vM25.annotation.refFlat"
      picard_rrna_mm       =  "/projects/fs1/shared/references/mm10/annotation/gtf/gencode/rRNA.vM25.interval_list"

      // 'Homo sapiens'
      gtf_hs              =  "/projects/fs1/shared/references/hg38/annotation/gtf/gencode/v33/gencode.v33.annotation.gtf"
      star_genome_hs      =  "/projects/fs1/shared/references/hg38/star/star_2.7.6a/"
      picard_refflat_hs   =  "/projects/fs1/shared/references/hg38/annotation/gtf/gencode/v33/gencode.v33.annotation.refFlat"
      picard_rrna_hs      =  "/projects/fs1/shared/references/hg38/annotation/gtf/gencode/v33/rRNA.GRCh38.interval_list"

      // 'Rattus norvegicus'
      gtf_rn              =  "/projects/fs1/shared/references/rattus_norvegicus/Rnor_6.0/annotation/Rattus_norvegicus.Rnor_6.0.104.gtf"
      star_genome_rn      =  "/projects/fs1/shared/references/rattus_norvegicus/Rnor_6.0/star/star_2.7.6a"
      picard_refflat_rn   =  "/projects/fs1/shared/references/rattus_norvegicus/Rnor_6.0/annotation/Rattus_norvegicus.Rnor_6.0.104.refFlat"
      picard_rrna_rn      =  "/projects/fs1/shared/references/rattus_norvegicus/Rnor_6.0/genome/Rattus_norvegicus.Rnor_6.0.dna_sm.toplevel.sizes.genome"


      process {
        executor = 'slurm'
        container = '/projects/fs1/shared/ctg-containers/rnaseq/singularity-ctg-rnaseq-1.0.2.sif'
        time = '48h'
        cpus = '16'
        }

      }

    uroscan {

      //  References
      // ---------------------------

      // 'Homo sapiens' - UROSCAN
      gtf_hs                 =  "/projects/fs1/shared/uroscan/references/rsem/GRCh37/Homo_sapiens.GRCh37.75.gtf"
      rsem_genome_hs         =  "/projects/fs1/shared/uroscan/references/rsem/GRCh37/GRCh37"
      star_genome_hs         =  "/projects/fs1/shared/uroscan/references/star"
      salmon_transcripts_hs  =  "/projects/fs1/shared/uroscan/references/salmon/GRCh37.transcripts"
      rcqc_ref               =  "/projects/fs1/shared/uroscan/references/rseqc/hg19.HouseKeepingGenes.bed"
      picard_refflat_hs      =  "/projects/fs1/shared/uroscan/references/rsem/GRCh37/Homo_sapiens.GRCh37.75.refFlat"
      //picard_rrna_hs       =  "/projects/fs1/shared/references/hg38/annotation/gtf/gencode/v33/rRNA.GRCh38.interval_list"


      process {
        executor = 'slurm'
        container = '/projects/fs1/shared/ctg-containers/rnaseq/singularity-ctg-rnaseq-1.0.2.sif'
        time = '48h'
        cpus = '16'

        withName:star {
          container = '/projects/fs1/shared/ctg-containers/rnaseq/singularity-ctg-uroscan-1.0.1.sif'
          }
        withName:rsem {
            container = '/projects/fs1/shared/ctg-containers/rnaseq/singularity-ctg-uroscan-1.0.1.sif'
            }

        withName:bladderreport {
          container = '/projects/fs1/shared/ctg-containers/rnaseq/singularity-bladderreport-1.1.2.sif'
          }
      }
}






// Define singularity specs
singularity {
    enabled = true
    runOptions = '--bind /projects/fs1/'
}
