

// DEFAULT CONIG FOR RNASEQ
// --------------------------------------------------------------------------------------
// Parameters NOT set in 'nextflow.params.<id>.config'
// --------------------------------------------------------------------------------------



// Genearl params
// -------------

params {
    // cpu and memory specs -
    // params used by the different processes in nextflow main script
    // ---------------------------
    cpu_min = 2
    cpu_standard = 6
    cpu_mid = 10
    cpu_high = 16
    cpu_max = 28

    mem_min = '6 GB'
    mem_standard = '32 GB'
    mem_mid = '64 GB'
    mem_high = '100 GB'
    mem_max = '360 GB'

}




// Process speicfic parameters
// ------

profiles {

    rnaseq {
      params {

        // process specific flags
        run_move_fastq              =  true // if to move fastqq files from input folder to (delivery) nextflow folder
        run_fastqc                  =  true
        run_fastqscreen             =  true

        run_salmon                  =  false // used by uroscan profile
        run_rsem                    =  false // used by uroscan profile

        run_star                    =  true
        run_checkfiles_bam          =  true
        run_index_bam               =  true
        run_markdups                =  true

        run_featurecounts           =  true

        run_rnaseqmetrics           =  true
        run_qualimap                =  false // excluded from pipeline at the moment - problems with crashes
        run_rseqc                   =  true

        run_bladderreport           =  false

        run_multiqc                 =  true

        run_md5sum                  =  true
        run_stage_delivery          =  true
        run_finalize_pipeline       =  true

        //  References
        // ---------------------------
        fastqscreen_config  =  "/projects/fs1/shared/references/FastQ_Screen_Genomes/fastq_screen.conf"

        // 'Homo sapiens' hg38
        gtf_hs                 =  "/projects/fs1/shared/references/hg38/annotation/gtf/gencode/v33/gencode.v33.annotation.gtf"
        star_genome_hs         =  "/projects/fs1/shared/references/hg38/star/star_2.7.6a/"
        rsem_bowtie2_genome_hs  =  "/projects/fs1/shared/references/hg38/rsem_bowtie2/rsem_bowtie2"
        salmon_transcripts_hs  =  ""
        rcqc_bed               =  "/projects/fs1/shared/references/rseqc/hg38_RefSeq.bed"
        rcqc_housekeeping      =  "/projects/fs1/shared/references/rseqc/hg38.HouseKeepingGenes.bed"
        picard_refflat_hs      =  "/projects/fs1/shared/references/hg38/annotation/gtf/gencode/v33/gencode.v33.annotation.refFlat"
        picard_rrna_hs         =  "/projects/fs1/shared/references/hg38/annotation/gtf/gencode/v33/rRNA.GRCh38.interval_list"

        // 'Rattus norvegicus'
        gtf_rn              =  "/projects/fs1/shared/references/rattus_norvegicus/Rnor_6.0/annotation/Rattus_norvegicus.Rnor_6.0.104.gtf"
        star_genome_rn      =  "/projects/fs1/shared/references/rattus_norvegicus/Rnor_6.0/star/star_2.7.6a"
        picard_refflat_rn   =  "/projects/fs1/shared/references/rattus_norvegicus/Rnor_6.0/annotation/Rattus_norvegicus.Rnor_6.0.104.refFlat"
        picard_rrna_rn      =  "/projects/fs1/shared/references/rattus_norvegicus/Rnor_6.0/genome/Rattus_norvegicus.Rnor_6.0.dna_sm.toplevel.sizes.genome"

        // 'Mus musculus'
        gtf_mm               =  "/projects/fs1/shared/references/mm10/annotation/gtf/gencode/gencode.vM25.annotation.gtf"
        star_genome_mm       =  "/projects/fs1/shared/references/mm10/star/star-2.7.6a/"
        picard_refflat_mm    =  "/projects/fs1/shared/references/mm10/annotation/gtf/gencode/gencode.vM25.annotation.refFlat"
        picard_rrna_mm       =  "/projects/fs1/shared/references/mm10/annotation/gtf/gencode/rRNA.vM25.interval_list"
        rcqc_bed_mm               =  "/projects/fs1/shared/references/rseqc/mm10_Gencode_VM18.bed"
        rcqc_housekeeping_mm      =  "/projects/fs1/shared/references/rseqc/mm10.HouseKeepingGenes.bed"
        }

        process {
          executor = 'slurm'
          container = '/projects/fs1/shared/ctg-containers/ctg-rnaseq/singularity-ctg-rnaseq-1.0.2.sif'
          time = '120h'
          cpus = '16'

          withName:filter_multimap {
            container = '/projects/fs1/shared/ctg-containers/samtools/singularity-samtools_1.9-1.0.0.sif'
            }
          withName:index_bam {
            container = '/projects/fs1/shared/ctg-containers/samtools/singularity-samtools_1.9-1.0.0.sif'
            }
          withName:rseqc {
              container = '/projects/fs1/shared/ctg-containers/rseqc/singularity-rseqc_4.0.0-1.0.1.sif'
              }
        }
      }

      rnaseq_total {
        params {

          // process specific flags
          run_move_fastq              =  true // if to move fastqq files from input folder to (delivery) nextflow folder
          run_fastqc                  =  true
          run_fastqscreen             =  true

          run_salmon                  =  false // used by uroscan profile
          run_rsem                    =  false // used by uroscan profile

          run_star                    =  true
          run_checkfiles_bam          =  true
          run_index_bam               =  true
          run_markdups                =  true

          run_featurecounts           =  true

          run_rnaseqmetrics           =  true
          run_qualimap                =  false // excluded from pipeline at the moment - problems with crashes
          run_rseqc                   =  true

          run_bladderreport           =  false

          run_multiqc                 =  true

          run_md5sum                  =  true
          run_stage_delivery          =  true
          run_finalize_pipeline       =  true

          //  References
          // ---------------------------
          fastqscreen_config  =  "/projects/fs1/shared/references/FastQ_Screen_Genomes/fastq_screen.conf"

          // 'Homo sapiens' hg38
          gtf_hs                 =  "/projects/fs1/shared/references/hg38/annotation/gtf/gencode/v33/gencode.v33.annotation.gtf"
          star_genome_hs         =  "/projects/fs1/shared/references/hg38/star/star_2.7.6a/"
          rsem_bowtie2_genome_hs  =  "/projects/fs1/shared/references/hg38/rsem_bowtie2/rsem_bowtie2"
          salmon_transcripts_hs  =  ""
          rcqc_bed               =  "/projects/fs1/shared/references/rseqc/hg38_RefSeq.bed"
          rcqc_housekeeping      =  "/projects/fs1/shared/references/rseqc/hg38.HouseKeepingGenes.bed"
          picard_refflat_hs      =  "/projects/fs1/shared/references/hg38/annotation/gtf/gencode/v33/gencode.v33.annotation.refFlat"
          picard_rrna_hs         =  "/projects/fs1/shared/references/hg38/annotation/gtf/gencode/v33/rRNA.GRCh38.interval_list"

          // 'Rattus norvegicus'
          gtf_rn              =  "/projects/fs1/shared/references/rattus_norvegicus/Rnor_6.0/annotation/Rattus_norvegicus.Rnor_6.0.104.gtf"
          star_genome_rn      =  "/projects/fs1/shared/references/rattus_norvegicus/Rnor_6.0/star/star_2.7.6a"
          picard_refflat_rn   =  "/projects/fs1/shared/references/rattus_norvegicus/Rnor_6.0/annotation/Rattus_norvegicus.Rnor_6.0.104.refFlat"
          picard_rrna_rn      =  "/projects/fs1/shared/references/rattus_norvegicus/Rnor_6.0/genome/Rattus_norvegicus.Rnor_6.0.dna_sm.toplevel.sizes.genome"

          // 'Mus musculus'
          gtf_mm               =  "/projects/fs1/shared/references/mm10/annotation/gtf/gencode/gencode.vM25.annotation.gtf"
          star_genome_mm       =  "/projects/fs1/shared/references/mm10/star/star-2.7.6a/"
          picard_refflat_mm    =  "/projects/fs1/shared/references/mm10/annotation/gtf/gencode/gencode.vM25.annotation.refFlat"
          picard_rrna_mm       =  "/projects/fs1/shared/references/mm10/annotation/gtf/gencode/rRNA.vM25.interval_list"
          rcqc_bed_mm               =  "/projects/fs1/shared/references/rseqc/mm10_Gencode_VM18.bed"
          rcqc_housekeeping_mm      =  "/projects/fs1/shared/references/rseqc/mm10.HouseKeepingGenes.bed"
          }

          process {
            executor = 'slurm'
            container = '/projects/fs1/shared/ctg-containers/ctg-rnaseq/singularity-ctg-rnaseq-1.0.2.sif'
            time = '120h'
            cpus = '16'

            withName:filter_multimap {
              container = '/projects/fs1/shared/ctg-containers/samtools/singularity-samtools_1.9-1.0.0.sif'
              }
            withName:index_bam {
              container = '/projects/fs1/shared/ctg-containers/samtools/singularity-samtools_1.9-1.0.0.sif'
              }
            withName:rseqc {
                container = '/projects/fs1/shared/ctg-containers/rseqc/singularity-rseqc_4.0.0-1.0.1.sif'
                }
          }
        }


    uroscan {
      params {
        // scripts
        bladderreport_scriptname = 'bladderreport-ctg-1.1.2.Rmd'

        // run modules
        run_move_fastq              =  true // if to move fastqq files from input folder to (delivery) nextflow folder
        run_fastqc                  =  true
        run_fastqscreen             =  true

        run_salmon                  =  true // used by uroscan profile
        run_rsem                    =  true // used by uroscan profile

        run_star                    =  true
        run_checkfiles_bam          =  true
        run_index_bam               =  true
        run_markdups                =  true

        run_featurecounts           =  false

        run_rnaseqmetrics           =  true
        run_qualimap                =  false // excluded from pipeline at the moment - problems with crashes
        run_rseqc                   =  true

        run_bladderreport           =  true

        run_multiqc                 =  true

        run_md5sum                  =  true
        run_stage_delivery          =  true
        run_finalize_pipeline       =  true


        //  References
        // ---------------------------
        fastqscreen_config  =  "/projects/fs1/shared/references/FastQ_Screen_Genomes/fastq_screen.conf"

        // 'Homo sapiens' - UROSCAN hg19
        // UroScan developed for hg19 and Homno sapiens only.
        gtf_hs                  =  "/projects/fs1/shared/references/uroscan/rsem_bowtie2/GRCh37/Homo_sapiens.GRCh37.75.gtf"
        rsem_bowtie2_genome_hs  =  "/projects/fs1/shared/references/uroscan/rsem_bowtie2/GRCh37/GRCh37"
        rsem_star_genome_hs     =  "/projects/fs1/shared/references/uroscan/star"
        star_genome_hs          =  "/projects/fs1/shared/references/uroscan/star"
        salmon_transcripts_hs   =  "/projects/fs1/shared/references/uroscan/salmon/GRCh37.transcripts"
        rcqc_housekeeping       =  "/projects/fs1/shared/references/uroscan/rseqc/hg19.HouseKeepingGenes.bed"
        rcqc_bed                 =  "/projects/fs1/shared/references/uroscan/rseqc/hg19_GencodeCompV19.bed"
        picard_refflat_hs       =  "/projects/fs1/shared/references/uroscan/rsem_bowtie2/GRCh37/Homo_sapiens.GRCh37.75.refFlat"
        picard_rrna_hs          =  ""

        // 'Rattus norvegicus'
        gtf_rn              =  ""
        star_genome_rn      =  ""
        picard_refflat_rn   =  ""
        picard_rrna_rn      =  ""
        rcqc_housekeeping_rn = ""
        rcqc_bed_rn = ""


        // 'Mus musculus'
        gtf_mm               =  ""
        star_genome_mm       =  ""
        picard_refflat_mm    =  ""
        picard_rrna_mm       =  ""
        rcqc_housekeeping_mm = ""
        rcqc_bed_mm = ""
      }

        process {
          executor = 'slurm'
          container = '/projects/fs1/shared/ctg-containers/ctg-rnaseq/singularity-ctg-rnaseq-1.0.2.sif'
          time = '120h'
          cpus = '16'

          withName:salmon {
            container = '/projects/fs1/shared/ctg-containers/rnaseq/singularity-uroscan-1.0.1.sif'
            }
          // star version 2.5x
          withName:star {
            container = '/projects/fs1/shared/ctg-containers/rnaseq/singularity-uroscan-1.0.1.sif'
            }
          withName:rsem {
            container = '/projects/fs1/shared/ctg-containers/rnaseq/singularity-uroscan-1.0.1.sif'
            }
          withName:bladderreport {
            container = '/projects/fs1/shared/ctg-containers/ctg-rnaseq/singularity-bladderreport-1.2.1.sif'
            }
          withName:index_bam {
              container = '/projects/fs1/shared/ctg-containers/samtools/singularity-samtools_1.9-1.0.0.sif'
              }
          withName:rseqc {
              container = '/projects/fs1/shared/ctg-containers/rseqc/singularity-rseqc_4.0.0-1.0.1.sif'
              }
          }

  }
}



// Define singularity specs
singularity {
    enabled = true
    runOptions = '--bind /projects/fs1/'
}
