

// DEFAULT CONIG FOR CTG RNA SEQ Pipeline
// --------------------------------------------------------------------------------------
// Parameters NOT set in 'nextflow.params.<id>.config'
// --------------------------------------------------------------------------------------

params {

  // Container. Note STAR version must match STAR built reference
  //container           =  '/projects/fs1/shared/ctg-containers/ctg-rnaseq/ctg-rnaseq.v1.0.sif'
  //container  = 'singularity/rnaSeqTools/rnaseqtools.dl.0.1.sif'

  // Process speicfic parameters
  // ---------------------------
  fcounts_feature                    =  'exon'


  //  References
  // ---------------------------
  // 'Mus musculus'
  gtf_mm               =  "/projects/fs1/shared/references/mm10/annotation/gtf/gencode/gencode.vM25.annotation.gtf"
  star_genome_mm       =  "/projects/fs1/shared/references/mm10/star/star-2.7.6a/"
  picard_refflat_mm    =  "/projects/fs1/shared/references/mm10/annotation/gtf/gencode/gencode.vM25.annotation.refFlat"
  picard_rrna_mm       =  "/projects/fs1/shared/references/mm10/annotation/gtf/gencode/rRNA.vM25.interval_list"

  // 'Homo sapiens'
  gtf_hs              =  "/projects/fs1/shared/references/hg38/annotation/gtf/gencode/v33/gencode.v33.annotation.gtf"
  star_genome_hs      =  "/projects/fs1/shared/references/hg38/star/star_2.7.6a/"
  picard_refflat_hs   =  "/projects/fs1/shared/references/hg38/annotation/gtf/gencode/v33/gencode.v33.annotation.refFlat"
  picard_rrna_hs      =  "/projects/fs1/shared/references/hg38/annotation/gtf/gencode/v33/rRNA.GRCh38.interval_list"

  // fastqScreen
  // ---------------------------
  fastqscreen_config  =  "/projects/fs1/shared/references/FastQ_Screen_Genomes/fastq_screen.conf"



}


// --------------------------------------------------------------------------------------
// Parameters NOT set in 'nextflow.params.<id>.config'
// --------------------------------------------------------------------------------------




// Define singularity specs
singularity {
    enabled = true
    runOptions = '--bind /projects/fs1/'
}
